<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Todo 练习</title>
    </head>
    <body>
        <form action="/todo/add" method="post">
            <input type="text" name="task">
            <button type="submit" name="button">Add Todo</button>
        </form>

        {% for t in todos %}
            <div class="">
                {{ t.id }} : {{ t.task }}
                <a href="/todo/delete?id={{ t.id }}">删除</a>
            </div>
        {% endfor %}
    </body>
</html>
