<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>发表新博客</title>
    </head>
    <body>
        <form action="/blog/add" method="post">
            <input type="text" name="author" placeholder="author">
            <br>
            <input type="text" name="title" placeholder="title">
            <br>
            <textarea name="content" placeholder="content"></textarea>

            <button type="submit">发布</button>
        </form>
    </body>
</html>
