<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>登录页面</title>
    </head>
    <body>
        <h1>登录</h1>
        <form class="" action="/login" method="post">
            用户名:<br>
            <input type="text" name="username">
            <br>

            密码:<br>
            <input type="text" name="password">
            <br><br>

            <input type="submit" value="Submit">
        </form>

        <h3>{{result}}</h3>
    </body>
</html>
